#
# $Id: ex_std_tree.cfg,v 1.5 2001/01/17 22:24:16 lorenz Exp $
#
# options file for pp2html
--cache
--activeContents
--safeOpcode :filesys_open
--safeOpcode :still_to_be_decided
--safeOpcode :browse
#--frame_set         ex_std_tree-frm.tpl
--tree_applet
--tree_app_width    400
--tree_app_height   500
--tree_base         ../images
--slide_dir         ex_std_tree
--contents_header   Contents
--slide_prefix      page
--slide_suffix      htm
--top_template      ex_std_tree-top.tpl
--bottom_template   ex_std_tree-bot.tpl
--top_toc_template      ex_std_tree-top_toc.tpl
--bottom_toc_template   ex_std_tree-bot_toc.tpl
--boxtext_bold      ON
#--bullet            ../images/dot01.gif
--center_headers
--title             "The PerlPoint-Converters Package"
--linear_mode
--num_headers
